.main-input {
    display: flex;
    align-items: center;
}

.main-input input {
    padding: 0 10px;
    height: 25px;
    border-radius: 4px;
}

.main-input .btn-add-todo {
    background-color: aquamarine;
    padding: 6px 12px;
    border-radius: 4px;
    color: gray;
}